body {
  padding-top: 70px;
}

.productos {
  padding: 1% 3% 8% 5%;
}

.bottom{
  margin-bottom: 24px;
}

.logos{
  padding: 2px 2px;
  margin-right: 10px;
  border-radius: 3px;
  color: white;
  font-weight: 900;
}

.d{
    background-color: grey;
}
.h{
    background-color: orange;
}
.comentarios{
  padding: 15px;
}
